/* CSS Navbar */

.navbar-style {
    background-color: #404040;
}

.navbar-nav {
    padding-top: 1%;
    padding-bottom: 1%;
}

.navbar-font {
    color: #fafafa;
    font-family: "roboto-bold";
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar-font:focus, .navbar-font:hover{
    color: #dedede;
    text-decoration: underline;
}

/* Css Footer */

.footer {
    text-align: left;
    background-color: #404040;
    padding-top: 2%;
    padding-bottom: 2%;
}
.footer li {
    list-style-type: none;
    margin: 2%;
}

.footer a {
    color: #fafafa;
    text-transform: uppercase;
    text-decoration: none;
}

.footer a:hover {
    color: white;
    text-decoration: underline;
}

.footer i {
    color: white;
}
