/* CSS Global Style */

body {
    overflow-x: hidden;
}

hr {
    border: solid 1px #dedede;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* CSS Buttons */
.btn-darkgrey {
    background-color: #404040;
    color: #fafafa;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.btn-darkgrey:hover {
    color: white;
    background-color: #5c5c5c;
}

.btn-lightgrey {
    background-color: #fafafa;
    color: #404040;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.btn-lightgrey:hover {
    color: #404040;
    background-color: #dedede;
}

/* CSS Navbar */

.navbar-style {
    background-color: #404040;
}

.navbar-nav {
    padding-top: 1%;
    padding-bottom: 1%;
}

.navbar-font {
    color: #fafafa;
    font-family: "roboto-regular";
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar-font:focus,
.navbar-font:hover {
    color: #dedede;
    text-decoration: underline;
}

.profile {
    list-style-type: none;
}

/* Css Footer */

.footer {
    text-align: center;
    background-color: #404040;
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer li {
    list-style-type: none;
    margin: 2%;
}

.footer-title {
    color: #fafafa;
    font-family: "roboto-bold";
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-link {
    color: #fafafa;
    font-family: "roboto-thin";
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer a:hover {
    color: white;
    text-decoration: underline;
}

.footer i {
    color: white;
    margin: 3%;
}

/* CSS Cards && Card List */
.cards-list h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card {
    margin: 2%;
    border: none;
    height: 300px;
}

.card h4 {
    color: #fafafa;
}

.card img {
    width: 100%;
    height: 100%;
}

.card-img-overlay {
    background-color: #404040;
    margin: 10%;
}

.card a {
    font-family: "roboto-bold";
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;

    width: 40%;
    text-align: center;
}

.card a:hover {
    color: #dedede;
}

.card span {
    color: #dedede;
    margin-top: 2%;
    margin-bottom: 5%;
}

/* CSS Info */
.info {
    margin: 5%;
    border-radius: 20px;
    padding: 5%;
}

.info-focus {
    margin-bottom: 2%;
}

.info-rate {
    color: #ffde4c;
    margin-bottom: 5%;
    width: 20px;
    height: 20px;
}

.info .btn-darkgrey {
    margin-top: 5%;
}

.info img {
    width: 100%;
}


/* CSS Plans */
.plans {
    margin-bottom: 5%;
}

.plans h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5%;
}

.cash {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;

}

.plans h4 {
    text-transform: uppercase;
    margin-top: 10%;
    text-align: center;
}

.card-plan {
    width: 18rem;
    height: auto;
    background-color: #404040;
    color: #fafafa;
    margin-left: 20%;
}

.plans .p-secondary {
    text-transform: uppercase;
    text-align: center;
    margin-top: 10%;
}

.plans .btn-lightgrey {
    margin-left: 30%;
    margin-top: 30%;
    margin-bottom: 5%;
}

/* CSS Form */
.form-contact {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
}

.form-contact h1 {
    text-transform: uppercase;
    text-align: center;
}

.form-contact h2 {
    text-align: center;
    margin-bottom: 5%;
}

.form-contact form {
    color: #fafafa;
    background-color: #404040 ;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
}

