/* CSS Cards && Card List */
.cards-list h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card {
    margin: 2%;
    border: none;
    height: 300px;
}

.card h4 {
    color: #fafafa;
}

.card img {
    width: 100%;
    height: 100%;
}

.card-img-overlay {
    background-color: #404040;
    margin: 10%;
}

.card a {
    font-family: "roboto-bold";
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;

    width: 40%;
    text-align: center;
}

.card a:hover {
    color: #dedede;
}

.card span {
    color: #dedede;
    margin-top: 2%;
    margin-bottom: 5%;
}

/* CSS Info */
.info {
    margin: 5%;
    border-radius: 20px;
    padding: 5%;
}

.info-focus {
    margin-bottom: 2%;
}

.info-rate {
    color: #ffde4c;
    margin-bottom: 5%;
    width: 20px;
    height: 20px;
}

.info .btn-darkgrey {
    margin-top: 5%;
}

.info img {
    width: 100%;
}


/* CSS Plans */
.plans {
    margin-bottom: 5%;
}

.plans h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5%;
}

.cash {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;

}

.plans h4 {
    text-transform: uppercase;
    margin-top: 10%;
    text-align: center;
}

.card-plan {
    width: 18rem;
    height: auto;
    background-color: #404040;
    color: #fafafa;
    margin-left: 20%;
}

.plans .p-secondary {
    text-transform: uppercase;
    text-align: center;
    margin-top: 10%;
}

.plans .btn-lightgrey {
    margin-left: 30%;
    margin-top: 30%;
    margin-bottom: 5%;
}

/* CSS Form */
.form-contact {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
}

.form-contact h1 {
    text-transform: uppercase;
    text-align: center;
}

.form-contact h2 {
    text-align: center;
    margin-bottom: 5%;
}

.form-contact form {
    color: #fafafa;
    background-color: #404040 ;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
}