/* CSS Global Style */

body {
    overflow-x: hidden;
}

hr {
    margin-top: 5%;
    margin-bottom: 5%;
}

/* CSS Buttons */
.btn-darkgrey {
    background-color: #404040;
    color: #fafafa;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.btn-darkgrey:hover {
    color: white;
    background-color: #5c5c5c;
}

.btn-lightgrey {
    background-color: #fafafa;
    color: #404040;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.btn-lightgrey:hover {
    color: #404040;
    background-color: #dedede;
}

/* CSS Navbar */

.navbar-style {
    background-color: #404040;
}

.navbar-nav {
    padding-top: 1%;
    padding-bottom: 1%;
}

.navbar-font {
    color: #fafafa;
    font-family: "roboto-regular";
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar-font:focus,
.navbar-font:hover {
    color: white;
    text-decoration: underline;
}

.profile {
    list-style-type: none;
}

/* Css Footer */

.footer {
    text-align: center;
    background-color: #404040;
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer li {
    list-style-type: none;
    margin: 2%;
}

.footer-title {
    color: #fafafa;
    font-family: "roboto-bold";
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-link {
    color: #fafafa;
    font-family: "roboto-thin";
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer a:hover {
    color: white;
    text-decoration: underline;
}

.footer i {
    color: white;
    margin: 3%;
}
